vti_encoding:SR|utf8-nl
vti_author:SR|dpap-work\\dpap
vti_modifiedby:SR|dpap-work\\dpap
vti_timelastmodified:TR|03 May 2012 20:39:34 -0000
vti_timecreated:TR|03 May 2012 20:39:34 -0000
vti_cacheddtm:TX|03 May 2012 20:39:34 -0000
vti_filesize:IR|2131
vti_cachedlinkinfo:VX|Q|layout.css S|../images/background.gif S|../images/masthead.gif
vti_cachedsvcrellinks:VX|FQUS|styles/layout.css FSUS|images/background.gif FSUS|images/masthead.gif
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
